<!-- <p>{{single.fullname}}</p> -->
<div class="col-md-12">
    <div class="card my-3">
        <div class="card-header d-flex">
            <span class="symbol mr-2" [ngClass]="
        {
            'green' : passengerCard.checkedIn,
            'red' : !passengerCard.checkedIn
        }"></span>
            <span>

                <input type="text" [value]="passengerCard.fullname" id="editname" [disabled]="!isEditable"
                    class="form-control" #updatedname>
            </span>
        </div>
        <div class="card-body">
            <strong>Checked In : </strong>
            {{passengerCard.checkInDate ? (passengerCard.checkInDate | date): 'Not Checked In'}}
            <p><strong>Children : </strong>
                {{passengerCard.children ? (passengerCard.children.length) : 0}}
            </p>
            <!-- {{passengerCard | json}} -->
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between ">
                <button class="btn btn-info" (click)="onEdit()" [ngClass]="
                { 'd-none': isEditable}">Edit</button>
                <button class="btn btn-success" (click)="onUpdate()" [ngClass]="
                { 'd-none': !isEditable}">Update</button>
                <button class="btn btn-danger" (click)="onRemove()">Remove</button>
            </div>
        </div>
    </div>
</div>